@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
body {
  background-color: #181A2A;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero-main {
  background: url(../public/assets/images/hero-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
